<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>W3D4 - Lecture Demo</title>
</head>

<body>
  <h1>Hello, World!</h1>

  <% if (currentUser) { %>
  <p>Hello, <a href="/me"><%= currentUser.username %></a></p>
  <a href=" /sessions/logout">Log out</a>
  <% } else { %>
  <a href="/users/new">Register</a>
  <a href="/sessions/new">Log In</a>
  <% } %>
</body>

</html>
