<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>W3D4 - Lecture Demo</title>
</head>

<body>
  <h1>Hello, <%= currentUser.username %>!</h1>

  <p>Here are your details!</p>

  <p>ID: <%= currentUser.id %></p>
  <p>Password Hashed: <%= currentUser.password %></p>
</body>

</html>
